<!DOCTYPE html>
<html>
  <head>
    <title>simple-web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>simple-web</h1>
    <p>Welcome to simple-web</p>
  </body>
</html>
